---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "mixins";
@import "utilities";
@import "animations";
@import "fonts";

// Import additional elements or project specific styles
@import "elements/blockquotes";

/* -----------------------------------------
   Global Styles
----------------------------------------- */
body {
  font-family: $font-family;
  font-weight: 400;
}

section {
  padding: 50px 0;
  background-color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 { font-size: 60px; color: $red; }
.h1 { font-size: 60px; }
h2, .h2 { font-size: 40px; }
p  { font-size: 25px; }

small {
  font-size: 12px;
  display: inline-block;
  line-height: 1;
}

/* -----------------------------------------
   DOM Specific Styles
----------------------------------------- */

#page-content {
  padding-left: 30%;
  background-image: url(/img/overtonwindow-image-03.jpg);
  background-size: cover;
  background-position: top left;
}

#page-footer {}

#mainnav {
  li {
    margin: 10px;
    a {
      padding: 10px;
    }
  }
}

// #sidebar {
//   float: left;
//   width: 30%;
//   background-image: url(https://unsplash.it/4000/4000);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: top left;
//   background-attachment: fixed;
//   height: 3200px;
// }

#topnav {
  background-color: $gray-dark;
  padding: 20px;
  text-align: right;
  .btn {
    color: #fff;
    border: 1px solid #fff;
    margin: 0;
  }
}

/* -----------------------------------------
   Bootstrap overwrites
----------------------------------------- */

.btn {
  border: 1px solid $gray-dark;
  border-radius: 0;
  background: transparent;
  color: $gray-dark;
  margin: 30px auto;
  &:hover {
    background: $gray-dark;
    color: #fff;
  }
  &.btn-block {
    display: block;
  }
}

.container {
  width: 80%;
  margin-left: 90px;
  margin-right: auto;
}

.navbar-toggle {
  .icon-bar {
    background-color: #fff;
  }
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */
@media(min-width: 993px) {
  .mobile-nav {
    &.collapse {
      display: block;
    }
  }
}


@media(max-width: 992px) {
  section {
    padding: 25px 0;
  }
  #page-content {
    padding-left: 0;
    padding-top:400px;
  }
  #mainnav {
    position: fixed;
    top: 0;
    right: 0;
  }
  #topnav {
    background: transparent;
    text-align: left;
    margin-top: 30px;
    .btn {
      display: block;
      margin-top: 10px;
    }
  }
  #defend {
    margin-top: -175px;
  }
  .navbar-toggle {
    display: block;
  }
}
