---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import "variables";
@import "mixins";
@import "utilities";
@import "animations";
@import "fonts";

// Import additional elements or project specific styles
@import "elements/blockquotes";

/* -----------------------------------------
   Global Styles
----------------------------------------- */
body {
  font-family: $font-family;
  font-weight: 400;
}

section {
  padding: 50px 0;
  background-color: #fff;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
h1 { 
  font-size: 60px; 
  color: $red; 
  margin-bottom: 10px;
}
.h1 { font-size: 60px; }
h2, .h2 { font-size: 40px; }
p  { font-size: 25px; }

small {
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}

/* -----------------------------------------
   DOM Specific Styles
----------------------------------------- */

#page-content {
  margin-left: 25%;
}

#page-footer {}

#sidebar {
  position: fixed;
  width: 25%;
  background-image: url(/img/overtonwindow-image-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;
  height: 100%;
}

#topnav {
  background-color: $gray-dark;
  padding: 20px;
  text-align: right;
  .btn {
    color: #fff;
    border: 1px solid #fff;
    margin: 0;
    &:hover, &:focus, &:active {
      background-color: #fff;
      color: $gray-dark;
    }
  }
}

#social {
  span, h2 {
    color: $red;
  }
  
  a {
    margin-left: 5px;
    margin-right: 5px;
    &:hover, &:active, &:focus {
      color: transparent;
      span {
        color: darken($red, 15%);
      }
    }
  }
}

/* -----------------------------------------
   Bootstrap overwrites
----------------------------------------- */

.btn {
  border: 1px solid $gray-dark;
  border-radius: 0;
  background: transparent;
  color: $gray-dark;
  margin: 30px auto;
  &:hover {
    background: $gray-dark;
    color: #fff;
  }
  &.btn-block {
    display: block;
  }
}

.container {
  width: 80%;
  margin-left: 90px;
  margin-right: auto;
}

.navbar-toggle {
  .icon-bar {
    background-color: #fff;
  }
}

/* -----------------------------------------
   Media Queries
----------------------------------------- */
@media(min-width: 993px) {
  .mobile-nav {
    &.collapse {
      display: block;
    }
  }
}


@media(max-width: 992px) {
  section {
    padding: 25px 0;
  }
  #sidebar {
    position: relative;
    display: block;
    width: 100%;
    height: 400px;
    background-position: center center;
    background-size: cover;
    // background-image: url(https://unsplash.it/992/400?image=1078);
  }
  .container {
    width: 100%;
    margin: 0 auto;
  }
  #page-content {
    margin-left: auto;
  }
  #topnav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    text-align: center;
    .btn {
      width: 150px;
      background-color: $gray-dark;
      color: #fff;
    }
  }
  #defend {
    margin-top: -175px;
  }
  #social {
    text-align: center;
    h2 {
      line-height: 1.5;
    }
    img {
      margin: 0 auto;
    }
    a {
      margin-top: 10px;
    }
  }
  h1, .h1 {
    font-size: 30px;
  }
  h2, .h2 {
    font-size: 25px;
  }
  p {
    font-size: 22px;
  }
  .btn {
    margin: 15px auto;
  }
  .ol-styled {
    li {
      margin-top: 10px;
      margin-bottom: 10px;
      padding-top: 20px;
      padding-bottom: 20px;
      line-height: 1;
    }  
  }
}

@media(max-width: 500px) {
  h1, .h1 {
    font-size: 27px;
  }
  h2, .h2 {
    font-size: 23px;
  }
  p {
    font-size: 20px;
  }
  #topnav {
    .btn {
      width: 110px;
      font-size: 11px;
    }
  }
  #sidebar {
    height: 250px;
  }
  #defend {
    margin-top: -100px;
  }
  .ol-styled {
    li {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1;
    }  
  }
}
